.question {
    font-family: 'Open Sans', sans-serif;
}

.question_info {
    margin-bottom: 27px;
}
.question_form {
    margin-bottom: 50px;
}

.question_info p {
    margin-bottom: 20px;
    line-height: 1;
    color: #292929;
}

.question_info a {
    color: #b42b25;
}

.question_list {
    margin: 0;
}

.question_item {
    /*padding: 24px 32px 32px;*/
    margin: 0;
}

.question_item:nth-child(odd) {
    background-color: #f2f2f2;
}

.question-send {
    position: relative;
    text-align: center;
}

.question-send_info {
    margin-bottom: 18px;
    line-height: 1.3;
}

.question-send_layout {
    display: inline-block;
    padding: 0 20px;
    background-color: #fff;
    position: relative;
    z-index: 10;
}

.question-send_line {
    position: absolute;
    top: 77%;
    z-index: 1;
    width: 100%;
    height: 1px;
    border: 1px dotted #989898;
}

.question-send_line::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -1px;
    width: 100.2%;
    height: 1px;
    border: 1px dotted #989898;
}

.question-send_line::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: -1px;
    width: 100.2%;
    height: 1px;
    border: 1px dotted #989898;
}

.question-send_btn {
    display: inline-block;
    position: relative;
    z-index: 10;
    padding: 10px 32px;
    background-color: #fff;
    font-size: 13px;
    color: #292929;
    text-transform: uppercase;
    border: 2px solid #292929;;
    outline: none;
    font-weight: 700;
    cursor: pointer;
}

.question-send_btn:hover {
    background-color: #b42b25;
    color: #fff;
    border-color: #b42b25;
}

.question-card {
    padding: 24px 32px;
}
.question-card_title {
    color: #292929;
    font-size: 18px;
    line-height: 1;
    padding: 8px 0;
    font-weight: 700;
    border-bottom: 1px dotted #292929;
}

.question-card_list {
    padding: 18px 0 24px 14px;
    margin-bottom: 0;
}

.question-card_item {
    margin-bottom: 8px;
}
/*------------------------------- start custom radio*/
.question-card_label {
    font-size: 14px;
    padding-left: 24px;
    position: relative;
    cursor: pointer;
}

.question-card_label::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 13px;
    border-radius: 50%;
    height: 13px;
    border: 1px solid #b2b2b2;
}

.question-card_label:hover {
    color: #b42b25;
}

.question-card_radio {
    display: none;
}

.question-card_radio:checked + .question-card_label {
      color: #b42b25;
}

.question-card_radio:checked + .question-card_label::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 6px;
    left: 3px;
    width: 7px;
    height: 7px;
    background-color: #b42b25;
}
/*------------------------------- end custom radio*/

.question-card_btn {
    display: inline-block;
    padding: 10px 32px;
    background-color: #fff;
    font-size: 13px;
    color: #292929;
    text-transform: uppercase;
    border: 2px solid #292929;;
    outline: none;
    font-weight: 700;
    cursor: pointer;
}

.question-card_btn:hover {
    background-color: #b42b25;
    color: #fff;
    border-color: #b42b25;
}