@font-face {
  font-family: 'MinionPro-Regular';
  src: url("MinionPro-Regular.woff2") format("woff2"), url("MinionPro-Regular.otf") format("truetype"), url("MinionPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'MinionPro-Medium';
  src: url("MinionPro-Medium.woff2") format("woff2"), url("MinionPro-Medium.otf") format("truetype"), url("MinionPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'MinionPro-Semibold';
  src: url("MinionPro-Semibold.woff2") format("woff2"), url("MinionPro-Semibold.otf") format("truetype"), url("MinionPro-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'MinionPro-Bold';
  src: url("MinionPro-Bold.woff2") format("woff2"), url("MinionPro-Bold.otf") format("truetype"), url("MinionPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

body {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #000;
  background: #fff url("../img/bg.jpg") 0 0 repeat; }

*,
*::after,
*::before {
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 32px; }

li {
  font-size: 14px;
  font-weight: 400;
  color: #292929;
  margin-bottom: 10px; }

a {
  text-decoration: none;
  color: #b42b25; }

p {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: left;
  line-height: 1.4;
  color: #292929;
  font-size: 14px;
  font-weight: 400; }
  p:last-of-type {
    margin-bottom: 32px; }

figure {
  margin: 0;
  padding-right: 20px;
  margin-bottom: 20px; }

figcaption {
  color: #292929;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  color: #6C8795;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase; }

h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase; }

.c-pages_title-h2 {
  text-align: center;
  color: #292929;
  font-family: "Minion Pro";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 32px;
  position: relative; }
  .c-pages_title-h2 .c-link-more {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.6;
    position: absolute;
    top: 2px;
    right: 0;
    text-transform: none; }

h3 {
  color: #292929;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  border-bottom: 1px dotted #000;
  padding-bottom: 12px;
  margin-bottom: 12px; }

img, video {
  height: auto; }

.c-button:hover, .c-button--hover-bg, .c-button--hover-bg:hover, .c-link-more:hover, .c-link-back:hover, .c-card-actor:hover .c-card-actor_img, .c-card-actor_img, .c-card-fotogallery, .c-card-fotogallery_img, .c-card-fotogallery_img::after, .c-card-fotogallery_img img, .c-card-fotogallery:hover .c-card-fotogallery_img::after, .c-card-fotogallery:hover img, .c-pagination_link, .c-pagination_link:hover, .c-post-list_video, .c-post-list_video::after, .c-post-list_video:hover::after, .c-card-ticket_title a, .c-card-ticket_title a:hover, .header-menu_item:hover .submenu, .header-menu_item:hover .has-children::after, .header-menu_link, .header-menu_link:hover, .submenu_link, .submenu_link:hover, .news_post-title:hover, .collective_link, .collective_link:hover, .footer_copiright-site, .footer_copiright-site:hover, .footer-menu_item, .footer-menu_item::before, .footer-menu_item::after, .footer-menu_item:hover, .footer-menu_item:hover::after, .footer-menu_link, .footer .c-social a, .footer .c-social a:hover, .fotogallery-play_item, .fotogallery-play_item::after, .fotogallery-play_item:hover img, .fotogallery-play_item:hover::after {
  transition: all .2s ease-out; }

.l-layout {
  max-width: 1250px;
  padding-bottom: 1px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 1px; }
  .l-layout::after {
    content: '';
    display: block;
    clear: both; }

input {
  bottom: 0;
  outline: 0;
  border: 2px solid #5C5C5C;
  padding: 5px 15px;
  height: 30px;
  width: 100%; }

input[type="radio"],
input[type="checkbox"] {
  bottom: 0;
  outline: 0;
  border: 1px solid #CCC;
  padding: 10px 15px;
  width: auto; }

.vk svg:hover #vk {
  fill: #4d76a1; }

.fb svg:hover #fb {
  fill: #3b5998; }

.ok svg:hover #ok {
  fill: #f58220; }

.vk, .fb, .inst {
  display: inline-block;
  width: 30px;
  height: 28px;
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #b42b25; }

.fb {
  background-image: url("../img//social/fb.svg"); }

.inst {
  background-image: url("../img//social/inst.svg"); }

.vk {
  background-image: url("../img//social/vk.svg"); }

.l-grid {
  font-size: 0; }
  .l-grid_item {
    vertical-align: top;
    display: inline-block; }

.l-main {
  position: relative;
  padding: 0 56px; }
  .l-main::after {
    content: '';
    display: block;
    clear: both; }
  .l-main--top {
    padding-top: 48px; }
  .l-main--bottom {
    padding-bottom: 48px; }

.l-full-width {
  text-align: justify; }
  .l-full-width::after {
    content: '';
    width: 100%;
    display: inline-block; }
  .l-full-width_item {
    vertical-align: top;
    display: inline-block; }

.c-line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000; }
  .c-line::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 0;
    top: 3px; }

.c-search {
  font-size: 13px;
  position: relative; }
  .c-search_field {
    display: block;
    vertical-align: top;
    margin-right: 36px; }
    .c-search_field input [type="search"] {
      width: 100%;
      float: left; }
  .c-search_button {
    float: right;
    display: block;
    padding: 0;
    height: 30px;
    width: 33px;
    background-color: #fff;
    border: 2px solid #5C5C5C;
    font-size: 0;
    cursor: pointer;
    position: relative; }
    .c-search_button::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 12px;
      top: 50%;
      left: 50%;
      margin-left: -3px;
      margin-top: -6px;
      background: url("../img/search-icon.png") 0 0 no-repeat;
      background-color: #000; }

.c-button {
  display: inline-block;
  border: 2px solid #5C5C5C;
  color: #292929;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 33px; }
  .c-button:hover {
    color: #b42b25;
    border-color: #b42b25; }
  .c-button--bg {
    position: relative;
    z-index: 2;
    background-color: #b42b25;
    border: none;
    color: #fff;
    overflow: hidden; }
    .c-button--bg::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: -100%;
      width: 100%;
      height: 40px;
      background-color: #d63d36;
      transition: all .1s ease-out; }
    .c-button--bg:hover {
      color: #fff;
      transition: all .1s ease-out; }
      .c-button--bg:hover::after {
        left: 0;
        transition: all .1s ease-out; }
  .c-button--hover-bg:hover {
    color: #fff;
    background-color: #b42b25; }

.c-version {
  vertical-align: top;
  display: inline-block;
  color: #595959;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px 10px;
  padding-left: 45px;
  border: 1px dotted #000;
  position: relative;
  letter-spacing: .5px; }
  .c-version::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 10px;
    width: 26px;
    height: 15px;
    background: url("../img/version-icon.png") 0 0 no-repeat; }

.c-social {
  vertical-align: top;
  display: inline-block; }

.c-card {
  width: 385px;
  height: 440px;
  display: inline-block;
  position: relative;
  margin-right: 40px;
  margin-bottom: 40px; }
  .c-card--col-3 {
    width: 370px;
    margin-right: 0; }
  .c-card_img {
    height: 258px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px; }
    .c-card_img img {
      max-width: 100%;
      height: auto; }
  .c-card_title {
    text-align: left;
    color: #292929;
    font-family: "Minion Pro";
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px; }
    .c-card_title a {
      color: #292929; }
  .c-card_text {
    text-align: left;
    height: 39px;
    overflow: hidden;
    color: #000;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300; }
  .c-card .c-button {
    position: absolute;
    left: 0;
    bottom: 0; }
  .c-card .c-age-restrictions {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px; }

.c-link-more {
  padding-right: 14px;
  color: #292929;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  position: relative; }
  .c-link-more:hover {
    color: #b42b25;
    border-color: #b42b25; }
  .c-link-more::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    width: 8px;
    height: 7px;
    background: url("../img/link-more-icon.png") 0 0 no-repeat; }

.c-link-back {
  padding-left: 14px;
  color: #292929;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  position: relative; }
  .c-link-back:hover {
    color: #b42b25;
    border-color: #b42b25; }
  .c-link-back::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 7px;
    background: url("../img/link-more-icon.png") -8px 0 no-repeat; }

.c-age-restrictions {
  border: 1px solid #000;
  text-align: center;
  width: 46px;
  height: 46px;
  line-height: 48px;
  border-radius: 50px;
  color: #fff; }
  .c-age-restrictions span {
    font-family: "Minion Pro";
    font-size: 18px;
    font-weight: 600; }
  .c-age-restrictions--bg {
    background-color: #b42b25;
    border: none;
    color: #fff; }

.c-card-actor {
  width: 174px;
  margin: 0 5px;
  margin-bottom: 15px;
  margin-top: 10px; }
  .c-card-actor:hover .c-card-actor_img {
    -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
            transform: scale(1.08); }
  .c-card-actor_img {
    overflow: hidden;
    height: 184px;
    margin-bottom: 15px;
    position: relative;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
    .c-card-actor_img img {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -87px;
      margin-top: -94px;
      max-width: 100%;
      height: auto; }
  .c-card-actor_title a {
    text-align: left;
    color: #292929;
    font-family: "Minion Pro";
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px; }
    .c-card-actor_title a:hover {
      text-decoration: underline; }
  .c-card-actor_text {
    text-align: left;
    color: #797979;
    font-size: 13px;
    line-height: 15px;
    font-weight: 300; }

.c-card-fotogallery {
  width: 366px;
  height: 366px;
  border: 2px solid #292929;
  margin-bottom: 20px; }
  .c-card-fotogallery_img {
    cursor: pointer;
    height: 283px;
    overflow: hidden;
    border-bottom: 2px solid #292929;
    position: relative; }
    .c-card-fotogallery_img a {
      display: block;
      height: 100%; }
    .c-card-fotogallery_img::after {
      opacity: 0;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 3px solid #b42b25;
      background-color: rgba(0, 0, 0, 0.5);
      background-image: url("../img/version-icon-white.png");
      background-position: 50% 50%;
      background-size: 26px auto;
      background-repeat: no-repeat; }
    .c-card-fotogallery_img img {
      min-height: 100%; }
  .c-card-fotogallery_title a {
    display: block;
    padding: 16px 22px;
    text-align: left;
    color: #292929;
    font-family: "Minion Pro";
    font-size: 20px;
    font-weight: 500; }
  .c-card-fotogallery:hover .c-card-fotogallery_img::after {
    opacity: 1; }
  .c-card-fotogallery:hover img {
    -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
            transform: scale(1.08); }

.c-pagination_link {
  vertical-align: top;
  display: inline-block;
  border: 2px solid #292929;
  padding: 12px 16px;
  color: #292929;
  font-size: 13px;
  font-weight: 600;
  margin-right: 2px; }
  .c-pagination_link:hover {
    border: 2px solid #b42b25;
    color: #b42b25; }
  .c-pagination_link--active {
    color: #fff;
    background-color: #b42b25;
    border: 2px solid #b42b25; }
    .c-pagination_link--active:hover {
      color: #fff; }

.c-post-list {
  margin-bottom: 72px;
  border-top: 2px solid #000; }
  .c-post-list_item {
    padding: 24px 0;
    border-bottom: 2px solid #000; }
    .c-post-list_item::after {
      content: '';
      display: block;
      clear: both; }
    .c-post-list_item:nth-last-child(2) {
      margin-bottom: 40px; }
  .c-post-list_img {
    text-align: center;
    width: 179px;
    height: 179px;
    background-color: #E8E8E8;
    overflow: hidden;
    float: left; }
    .c-post-list_img a {
      display: block;
      height: 100%; }
  .c-post-list_body {
    margin-left: 207px;
    position: relative;
    height: 100%; }
    .c-post-list_body .c-button {
      position: absolute;
      bottom: 0px; }
  .c-post-list_top {
    height: 65px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #000; }
  .c-post-list_title a {
    display: block;
    text-align: left;
    color: #292929;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 8px; }
  .c-post-list_date {
    text-align: left;
    color: #292929;
    font-family: "Minion Pro";
    font-size: 15px;
    font-weight: 700; }
  .c-post-list_text {
    overflow: hidden;
    height: 42px;
    text-align: left;
    color: #292929;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 51px; }
  .c-post-list_video {
    position: relative; }
    .c-post-list_video::after {
      content: '';
      position: absolute;
      width: 62px;
      height: 62px;
      top: 50%;
      left: 50%;
      margin-top: -31px;
      margin-left: -31px;
      background: url("../img/video-icon.png") 0 0 no-repeat; }
    .c-post-list_video:hover::after {
      -webkit-transform: scale(1.08);
          -ms-transform: scale(1.08);
              transform: scale(1.08); }

.l-news-other {
  margin-bottom: 48px; }

.c-card-postnews {
  padding: 24px;
  width: 368px;
  background-color: #FFF;
  border: 2px solid #292929; }
  .c-card-postnews::after {
    content: '';
    display: block;
    clear: both; }
  .c-card-postnews_img {
    width: 179px;
    height: 179px;
    overflow: hidden;
    float: left; }
    .c-card-postnews_img a {
      display: block;
      height: 100%; }
  .c-card-postnews_body {
    margin-left: 194px; }
  .c-card-postnews_date {
    text-align: left;
    margin-bottom: 10px;
    color: #292929;
    font-family: "Minion Pro";
    font-size: 15px;
    font-weight: 700; }
  .c-card-postnews_title {
    text-align: left;
    overflow: hidden;
    height: 152px; }
    .c-card-postnews_title a {
      color: #000;
      font-size: 14px;
      line-height: 1.4;
      font-weight: 400; }
      .c-card-postnews_title a:hover {
        text-decoration: underline; }

.c-card-ticket {
  position: relative;
  padding-top: 14px;
  padding-bottom: 20px;
  border-bottom: 1px solid #292929; }
  .c-card-ticket::after {
    content: '';
    display: block;
    clear: both; }
  .c-card-ticket:last-child {
    margin-bottom: 38px; }
  .c-card-ticket_date {
    float: left; }
  .c-card-ticket_month {
    text-align: left;
    color: #292929;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2px; }
  .c-card-ticket_time {
    text-align: left;
    margin-bottom: 8px;
    color: #292929;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase; }
  .c-card-ticket .c-age-restrictions {
    color: #292929;
    width: 39px;
    height: 39px;
    line-height: 39px; }
    .c-card-ticket .c-age-restrictions span {
      font-size: 15px; }
  .c-card-ticket_content {
    margin-left: 236px; }
  .c-card-ticket_title {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px dotted #292929;
    margin-bottom: 10px; }
    .c-card-ticket_title a {
      color: #292929;
      font-family: "Minion Pro";
      font-size: 25px;
      font-weight: 500; }
      .c-card-ticket_title a:hover {
        color: #b42b25;
        text-decoration: underline; }
  .c-card-ticket_text {
    width: 640px;
    text-align: left;
    color: #292929;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400; }
  .c-card-ticket .c-button--bg {
    position: absolute;
    bottom: 20px;
    right: 0; }

.header {
  border-bottom: 4px solid #E1A4A4;
  position: relative;
  background-color: #fff; }
  .header::after {
    content: '';
    display: block;
    clear: both; }
  .header_top {
    padding-top: 10px;
    float: left; }
  .header_logo {
    width: 160px;
    height: 133px;
    float: left;
    background-image: url("../img/logo.svg");
    background-size: 151px auto;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-right: 10px; }
  .header-title {
    float: left; }
    .header-title_name {
      font-family: "Minion Pro"; }
      .header-title_name-medium {
        font-size: 30px; }
      .header-title_name-big {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 39px; }
      .header-title_name-small {
        font-size: 20px;
        font-weight: 400; }
    .header-title_season-number {
      color: #b42b25;
      font-family: "Minion Pro";
      font-size: 45px;
      line-height: 45px;
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 5px; }
    .header-title_season-text {
      vertical-align: super;
      font-size: 18px;
      line-height: 1.3;
      font-weight: 700;
      text-transform: uppercase;
      padding: 3px 10px;
      color: #fff;
      background-color: #b42b25; }
  .header_body {
    width: 415px;
    float: right;
    padding-top: 20px; }
    .header_body::after {
      content: '';
      display: block;
      clear: both; }
  .header-version {
    text-align: justify; }
    .header-version::after {
      content: '';
      width: 100%;
      display: inline-block; }
  .header-search {
    margin-bottom: 25px; }
  .header-menu {
    float: right; }
    .header-menu_list {
      margin-bottom: 16px; }
    .header-menu_item {
      display: inline-block;
      margin: 0 14px; }
      .header-menu_item:last-child {
        margin-right: 0; }
      .header-menu_item:hover .submenu {
        clip: auto;
        -webkit-clip-path: none;
                clip-path: none; }
      .header-menu_item:hover .has-children::after {
        clip: auto;
        -webkit-clip-path: none;
                clip-path: none; }
    .header-menu_link {
      font-family: "Minion Pro";
      font-size: 17px;
      font-weight: 500;
      text-transform: uppercase;
      color: #292929;
      position: relative;
      padding-bottom: 20px; }
      .header-menu_link:hover {
        color: #b42b25; }

.has-children::after {
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  content: '';
  position: absolute;
  z-index: 999;
  left: 50%;
  margin-left: -3px;
  bottom: 0;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #b42b25; }

.submenu {
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  width: 100%;
  background-color: #b42b25;
  position: absolute;
  z-index: 999;
  left: 0;
  bottom: -38px;
  margin: 0;
  font-size: 0;
  text-align: center; }
  .submenu_item {
    margin: 0 13px;
    display: inline-block; }
  .submenu_link {
    display: block;
    padding: 11px 0;
    font-size: 14px;
    font-weight: 400;
    color: #F0C2C0; }
    .submenu_link:hover {
      color: #fff; }

.c-page-title {
  background-color: #b42b25;
  margin-top: 36px;
  margin-bottom: 52px;
  color: #FFF;
  font-family: "Minion Pro";
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 40px;
  text-align: center;
  position: relative; }
  .c-page-title .c-link-back {
    color: #fff;
    text-transform: none;
    position: absolute;
    left: 56px;
    top: 25%; }
    .c-page-title .c-link-back:hover {
      text-decoration: none; }
    .c-page-title .c-link-back::after {
      content: '';
      top: 10px;
      background: url("../img/link-more-icon-white.png") -8px 0 no-repeat; }
  .c-page-title span {
    padding: 0 20px;
    position: relative; }
    .c-page-title span::before {
      content: '';
      width: 8px;
      height: 10px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -8px;
      background-image: url("../img/title-point.svg"); }
    .c-page-title span::after {
      content: '';
      width: 8px;
      height: 10px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -8px;
      background-image: url("../img/title-point.svg"); }

.l-top-slider {
  max-width: 1250px;
  margin: 0 auto; }
  .l-top-slider::after {
    content: '';
    display: block;
    clear: both; }

.top-slider .l-layout {
  padding-bottom: 0; }

.top-slider_item {
  height: 626px;
  cursor: pointer; }

.top-slider_title {
  position: absolute;
  top: 48px;
  left: 0; }

.top-slider_date {
  color: #FFF;
  font-weight: 400;
  text-shadow: 1px 1.7px 5px rgba(0, 0, 0, 0.4);
  font-size: 25px;
  margin-bottom: 8px; }
  .top-slider_date span {
    font-size: 35px; }

.top-slider_h1 {
  color: #FFF;
  font-family: "Minion Pro";
  font-size: 45px;
  font-weight: 700;
  text-shadow: 1px 1.7px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 8px; }

.top-slider_autor {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 1px 1.7px 5px rgba(0, 0, 0, 0.4); }

.slick-dotted.slick-slider {
  margin: 0; }

.slick-dots {
  position: absolute;
  bottom: 10px; }
  .slick-dots li button {
    border: 2px solid #fff;
    display: block;
    height: 15px;
    width: 15px;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
    background: transparent;
    opacity: 1; }
    .slick-dots li button:hover, .slick-dots li button:focus {
      outline: none; }
      .slick-dots li button:hover:before, .slick-dots li button:focus:before {
        opacity: .2; }
    .slick-dots li button:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 15px;
      height: 15px;
      opacity: 0;
      border-radius: 20px;
      background-color: #fff;
      line-height: 20px; }
  .slick-dots li.slick-active button:before {
    opacity: 1; }

.main_left-column {
  width: 75%;
  float: left; }

.main_right-column {
  width: 25%;
  float: right; }

.news {
  padding: 35px 25px;
  border: 1px solid #000;
  position: relative;
  margin-bottom: 25px; }
  .news_all-link {
    position: absolute;
    top: 35px;
    right: 25px; }
  .news_title {
    color: #292929;
    font-family: "Minion Pro";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding-right: 50px;
    margin-bottom: 15px; }
  .news_post {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px dotted #000; }
    .news_post-date {
      text-align: left;
      color: #292929;
      font-family: "Minion Pro";
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 10px; }
    .news_post-title {
      text-align: left;
      display: inline-block;
      color: #000;
      font-size: 14px;
      font-weight: 300;
      text-decoration: none; }
      .news_post-title:hover {
        text-decoration: underline; }
    .news_post-ava {
      display: inline-block;
      border-radius: 50px;
      overflow: hidden;
      width: 85px;
      height: 85px;
      position: relative;
      z-index: 10;
      margin-bottom: 20px; }
      .news_post-ava img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -42px;
        margin-top: -43px;
        max-width: 100%;
        height: auto; }
    .news_post-ava-description {
      text-align: left;
      color: #000;
      font-family: "Minion Pro";
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px; }

.subscription {
  padding: 25px;
  border: 1px solid #000;
  position: relative;
  margin-bottom: 25px; }
  .subscription_title {
    color: #292929;
    font-family: "Minion Pro";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px; }
  .subscription_text {
    color: #000;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px; }
  .subscription_email {
    margin-bottom: 15px; }

.about::after {
  content: '';
  display: block;
  clear: both; }

.about_left-column {
  float: left;
  margin-top: 50px;
  margin-bottom: 30px; }

.about_right-column {
  float: right;
  margin-top: 50px;
  margin-bottom: 30px; }

.about_description {
  text-align: center;
  padding: 30px 60px;
  border: 1px solid #000; }

.about_video {
  height: 287px; }

.about_ava {
  display: inline-block;
  border-radius: 50px;
  overflow: hidden;
  width: 85px;
  height: 85px;
  position: relative;
  z-index: 10;
  margin-bottom: 20px; }
  .about_ava img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -42px;
    margin-top: -43px;
    max-width: 100%;
    height: auto; }

.about_title {
  color: #292929;
  font-family: "Minion Pro";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px; }

.about_text {
  color: #000;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300; }

.l-col {
  font-size: 0; }
  .l-col img, .l-col video {
    max-width: 100%;
    height: auto; }

.col-1-2 img, .col-1-2 video,
.col-1-3 img,
.col-1-3 video {
  max-width: 100%;
  height: auto; }

.col-1-2 {
  vertical-align: top;
  display: inline-block;
  width: 50%; }

.col-1-3 {
  vertical-align: top;
  display: inline-block;
  width: 33%; }

.collective {
  padding-bottom: 60px; }
  .collective_nav {
    background-color: #b42b25;
    margin-bottom: 52px; }
  .collective_link {
    display: inline-block;
    margin-right: 25px;
    padding-top: 18px;
    padding-bottom: 15px;
    opacity: .5;
    color: #FFF;
    font-family: "Minion Pro";
    font-size: 23px;
    font-weight: 700; }
    .collective_link:hover {
      opacity: 1; }
    .collective_link--active {
      opacity: 1; }

.footer {
  margin: 0 auto;
  width: 1250px;
  background: url("../img/footer-bg.jpg") 0 0 repeat; }
  .footer_body {
    box-shadow: 0px 25px 50px -15px rgba(0, 0, 0, 0.42);
    padding: 0 56px; }
    .footer_body::after {
      content: '';
      display: block;
      clear: both; }
  .footer_logo {
    float: left;
    margin-top: 35px;
    margin-bottom: 52px;
    margin-right: 25px; }
    .footer_logo a {
      display: block;
      width: 156px;
      height: 130px;
      background-image: url("../img/logo-white.svg");
      background-position: 0 0;
      background-repeat: no-repeat; }
  .footer_content {
    float: right;
    padding-top: 30px;
    width: 84%; }
  .footer_copiright {
    position: relative;
    padding: 15px 0;
    padding-top: 20px;
    text-align: center; }
    .footer_copiright-text {
      display: inline-block;
      color: #CBCBCB;
      font-size: 12px;
      font-weight: 300; }
    .footer_copiright-site {
      color: #CBCBCB;
      position: absolute;
      top: 45%;
      right: 56px; }
      .footer_copiright-site:hover {
        color: #17ba9f; }
  .footer-menu {
    font-size: 0;
    margin-bottom: 6px;
    position: relative;
    left: -14px; }
    .footer-menu_item {
      display: inline-block;
      position: relative;
      z-index: 2; }
      .footer-menu_item::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 1px;
        height: 13px;
        background-color: #fff;
        top: 7px;
        right: 0; }
      .footer-menu_item::after {
        content: '';
        clip: rect(0, 0, 0, 0);
        -webkit-clip-path: inset(100%);
                clip-path: inset(100%);
        position: absolute;
        z-index: -0;
        height: 100%;
        width: 102%;
        top: 0;
        left: -1px;
        background-color: #b42b25; }
      .footer-menu_item:hover {
        background-color: #b42b25; }
      .footer-menu_item:hover::after {
        clip: auto;
        -webkit-clip-path: none;
                clip-path: none; }
      .footer-menu_item:last-child::before {
        clip: rect(0, 0, 0, 0);
        -webkit-clip-path: inset(100%);
                clip-path: inset(100%); }
    .footer-menu_link {
      color: #FFF;
      font-family: "Minion Pro";
      font-size: 13px;
      vertical-align: baseline;
      line-height: 16px;
      text-transform: uppercase;
      padding: 5px 15px;
      padding-top: 8px;
      position: relative;
      z-index: 2;
      display: block; }
  .footer_search {
    width: 233px; }
    .footer_search input, .footer_search button {
      border: none; }
  .footer-block-text {
    margin-bottom: 4px;
    margin-right: 24px; }
  .footer_text {
    color: #FFF;
    font-family: "Minion Pro";
    font-size: 20px;
    font-weight: 700; }
  .footer_subtext {
    color: #989293;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300; }
    .footer_subtext span {
      color: #fff; }
  .footer .c-social {
    margin-top: 10px; }
    .footer .c-social a {
      background-color: transparent; }
      .footer .c-social a:hover {
        background-color: #b42b25; }

.actor_top {
  border-bottom: 2px solid #000;
  padding-bottom: 20px;
  margin-bottom: 40px; }

.actor_title {
  color: #292929;
  font-family: "Minion Pro";
  font-size: 35px;
  font-weight: 600; }

.actor_post {
  color: #292929;
  font-size: 15px;
  font-weight: 300; }

.actor_body {
  margin-bottom: 40px; }
  .actor_body::after {
    content: '';
    display: block;
    clear: both; }

.actor_ava {
  width: 208px;
  height: 226px;
  float: left; }
  .actor_ava span {
    color: #292929;
    font-size: 15px;
    font-weight: 400; }

.actor_img {
  margin-bottom: 14px; }

.actor_about {
  margin-left: 236px; }

.text-page_top {
  padding-bottom: 18px;
  border-bottom: 1px dotted #000;
  margin-bottom: 18px; }

.text-page_title {
  color: #292929;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 600;
  text-transform: none; }

.text-page_subtitle {
  text-align: left;
  color: #292929;
  font-family: "Minion Pro";
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 14px;
  text-transform: none; }

.text-page_quote {
  padding: 14px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-bottom: 20px; }
  .text-page_quote::after {
    content: '';
    display: block;
    clear: both; }
  .text-page_quote_img {
    width: 86px;
    height: 86px;
    border-radius: 86px;
    float: left; }

.text-page-qoute {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  padding: 10px 0px;
  margin-bottom: 16px; }
  .text-page-qoute::after {
    content: '';
    display: block;
    clear: both; }
  .text-page-qoute_img {
    float: left;
    overflow: hidden;
    width: 86px;
    height: 86px;
    border-radius: 86px; }
  .text-page-qoute_body {
    margin-left: 108px; }
  .text-page-qoute_title {
    text-align: left;
    color: #000;
    font-family: "Minion Pro";
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px; }
  .text-page-qoute_text {
    text-align: left;
    color: #000;
    line-height: 1.3;
    font-size: 14px;
    font-weight: 400; }

.fotogallery {
  margin-bottom: 72px; }
  .fotogallery-play {
    margin-bottom: 60px; }
    .fotogallery-play_title {
      text-align: center;
      color: #292929;
      font-family: "Minion Pro";
      font-size: 30px;
      line-height: 30px;
      font-weight: 700;
      margin-bottom: 32px; }
    .fotogallery-play_list {
      text-align: justify; }
      .fotogallery-play_list::after {
        content: '';
        width: 100%;
        display: inline-block; }
    .fotogallery-play_item {
      width: 174px;
      height: 189px;
      display: inline-block;
      margin-bottom: 20px;
      overflow: hidden;
      position: relative; }
      .fotogallery-play_item::after {
        opacity: 0;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid #b42b25;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url("../img/version-icon-white.png");
        background-position: 50% 50%;
        background-size: 26px auto;
        background-repeat: no-repeat; }
      .fotogallery-play_item img {
        transition: -webkit-transform .2s ease;
        transition: transform .2s ease;
        transition: transform .2s ease, -webkit-transform .2s ease; }
      .fotogallery-play_item:hover img {
        -webkit-transform: scale(1.08);
            -ms-transform: scale(1.08);
                transform: scale(1.08); }
      .fotogallery-play_item:hover::after {
        opacity: 1; }

.news-post {
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  padding: 24px 0;
  margin-bottom: 52px; }
  .news-post::after {
    content: '';
    display: block;
    clear: both; }
  .news-post_img {
    width: 179px;
    height: 179px;
    float: left; }
  .news-post_content {
    margin-left: 207px; }
  .news-post iframe {
    margin-bottom: 32px; }

.search-result {
  margin-bottom: 72px; }
  .search-result_top {
    padding-bottom: 16px;
    margin-bottom: 24px;
    border-bottom: 1px dotted #000; }
    .search-result_top .c-search {
      width: 450px;
      margin-bottom: 14px; }
  .search-result_total {
    text-align: left;
    font-size: 13px;
    color: #292929; }
    .search-result_total-number {
      color: #000; }
  .search-result_list {
    padding-left: 12px;
    color: #292929;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 2px solid #000;
    margin-bottom: 42px; }
  .search-result_item {
    font-weight: 600;
    padding-left: 36px;
    margin-bottom: 16px; }
    .search-result_item:last-child {
      margin-bottom: 40px; }
  .search-result_title {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 12px; }
    .search-result_title a {
      color: #292929; }
  .search-result_text {
    overflow: hidden;
    height: 3em;
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: #292929; }

.l-ticket-list {
  margin-bottom: 38px; }

.ticket {
  margin-bottom: 72px; }

.p-1 {
  padding: 4px; }

.p-2 {
  padding: 8px; }

.p-3 {
  padding: 12px; }

.p-4 {
  padding: 16px; }

.p-5 {
  padding: 20px; }

.p-6 {
  padding: 24px; }

.p-7 {
  padding: 28px; }

.p-8 {
  padding: 32px; }

.pl-1 {
  padding-left: 4px; }

.pl-2 {
  padding-left: 8px; }

.pl-3 {
  padding-left: 12px; }

.pl-4 {
  padding-left: 16px; }

.pl-5 {
  padding-left: 20px; }

.pl-6 {
  padding-left: 24px; }

.pl-7 {
  padding-left: 28px; }

.pl-8 {
  padding-left: 32px; }

.pr-1 {
  padding-right: 4px; }

.pr-2 {
  padding-right: 8px; }

.pr-3 {
  padding-right: 12px; }

.pr-4 {
  padding-right: 16px; }

.pr-5 {
  padding-right: 20px; }

.pr-6 {
  padding-right: 24px; }

.pr-7 {
  padding-right: 28px; }

.pr-8 {
  padding-right: 32px; }

.pt-1 {
  padding-top: 4px; }

.pt-2 {
  padding-top: 8px; }

.pt-3 {
  padding-top: 12px; }

.pt-4 {
  padding-top: 16px; }

.pt-5 {
  padding-top: 20px; }

.pt-6 {
  padding-top: 24px; }

.pt-7 {
  padding-top: 28px; }

.pt-8 {
  padding-top: 32px; }

.pb-1 {
  padding-bottom: 4px; }

.pb-2 {
  padding-bottom: 8px; }

.pb-3 {
  padding-bottom: 12px; }

.pb-4 {
  padding-bottom: 16px; }

.pb-5 {
  padding-bottom: 20px; }

.pb-6 {
  padding-bottom: 24px; }

.pb-7 {
  padding-bottom: 28px; }

.pb-8 {
  padding-bottom: 32px; }

.m-1 {
  margin: 4px; }

.m-2 {
  margin: 8px; }

.m-3 {
  margin: 12px; }

.m-4 {
  margin: 16px; }

.m-5 {
  margin: 20px; }

.m-6 {
  margin: 24px; }

.m-7 {
  margin: 28px; }

.m-8 {
  margin: 32px; }

.ml-1 {
  margin-left: 4px; }

.ml-2 {
  margin-left: 8px; }

.ml-3 {
  margin-left: 12px; }

.ml-4 {
  margin-left: 16px; }

.ml-5 {
  margin-left: 20px; }

.ml-6 {
  margin-left: 24px; }

.ml-7 {
  margin-left: 28px; }

.ml-8 {
  margin-left: 32px; }

.mr-1 {
  margin-right: 4px; }

.mr-2 {
  margin-right: 8px; }

.mr-3 {
  margin-right: 12px; }

.mr-4 {
  margin-right: 16px; }

.mr-5 {
  margin-right: 20px; }

.mr-6 {
  margin-right: 24px; }

.mr-7 {
  margin-right: 28px; }

.mr-8 {
  margin-right: 32px; }

.mt-1 {
  margin-top: 4px; }

.mt-2 {
  margin-top: 8px; }

.mt-3 {
  margin-top: 12px; }

.mt-4 {
  margin-top: 16px; }

.mt-5 {
  margin-top: 20px; }

.mt-6 {
  margin-top: 24px; }

.mt-7 {
  margin-top: 28px; }

.mt-8 {
  margin-top: 32px; }

.mb-1 {
  margin-bottom: 4px; }

.mb-2 {
  margin-bottom: 8px; }

.mb-3 {
  margin-bottom: 12px; }

.mb-4 {
  margin-bottom: 16px; }

.mb-5 {
  margin-bottom: 20px; }

.mb-6 {
  margin-bottom: 24px; }

.mb-7 {
  margin-bottom: 28px; }

.mb-8 {
  margin-bottom: 32px; }
