@font-face {
  font-family: 'MinionPro-Regular';
  src: url("MinionPro-Regular.woff2") format("woff2"), url("MinionPro-Regular.otf") format("truetype"), url("MinionPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'MinionPro-Medium';
  src: url("MinionPro-Medium.woff2") format("woff2"), url("MinionPro-Medium.otf") format("truetype"), url("MinionPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'MinionPro-Semibold';
  src: url("MinionPro-Semibold.woff2") format("woff2"), url("MinionPro-Semibold.otf") format("truetype"), url("MinionPro-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'MinionPro-Bold';
  src: url("MinionPro-Bold.woff2") format("woff2"), url("MinionPro-Bold.otf") format("truetype"), url("MinionPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

body {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #000; }

*,
*::after,
*::before {
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

p {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: left;
  line-height: 1.2;
  color: #292929;
  font-size: 14px;
  font-weight: 400; }

3 h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  color: #6C8795;
  font-size: 48px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase; }

h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700; }

img, video {
  max-width: 100%;
  height: auto; }

.c-button:hover, .header-menu_link, .header-menu_link:hover, .submenu_link, .submenu_link:hover {
  transition: all .2s ease-out; }

.l-layout, .c-card {
  outline: 1px solid #ccc; }

.l-layout {
  max-width: 1250px;
  padding-bottom: 1px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 16px; }
  .l-layout::after {
    content: '';
    display: block;
    clear: both; }

input {
  bottom: 0;
  outline: 0;
  border: 2px solid #5C5C5C;
  padding: 5px 15px;
  height: 33px;
  width: 100%; }

input[type="radio"],
input[type="checkbox"] {
  bottom: 0;
  outline: 0;
  border: 1px solid #CCC;
  padding: 10px 15px;
  width: auto; }

.vk svg:hover #vk {
  fill: #4d76a1; }

.fb svg:hover #fb {
  fill: #3b5998; }

.ok svg:hover #ok {
  fill: #f58220; }

.vk, .fb, .inst {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: auto 22px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #b42b25;
  margin-right: 5px; }

.fb {
  background-image: url("../img//social/fb.svg"); }

.inst {
  background-image: url("../img//social/inst.svg"); }

.vk {
  background-image: url("../img//social/vk.svg"); }

.c-search {
  position: relative; }
  .c-search_input {
    width: 91%;
    vertical-align: top; }
  .c-search_button {
    vertical-align: top;
    width: 33px;
    background-color: #fff;
    border: 2px solid #5C5C5C;
    font-size: 0;
    cursor: pointer; }

.c-button {
  display: inline-block;
  border: 2px solid #5C5C5C;
  color: #292929;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 33px; }
  .c-button:hover {
    color: #b42b25;
    border-color: #b42b25; }

.c-version {
  vertical-align: top;
  display: inline-block;
  color: #595959;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px 10px;
  padding-left: 45px;
  border: 1px dotted #000;
  position: relative; }
  .c-version::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 10px;
    width: 26px;
    height: 15px;
    background: url("../img/version-icon.png") 0 0 no-repeat; }

.c-social {
  vertical-align: top;
  display: inline-block; }

.c-card {
  width: 385px;
  height: 440px;
  display: inline-block;
  position: relative; }
  .c-card_img {
    width: 385px;
    height: 258px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px; }
    .c-card_img img {
      max-width: 100%;
      height: auto; }
  .c-card_title {
    color: #292929;
    font-family: "Minion Pro";
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px; }
  .c-card_text {
    height: 40px;
    overflow: hidden;
    color: #000;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300; }
  .c-card .c-button {
    position: absolute;
    left: 0;
    bottom: 0; }

.c-link-more {
  padding-right: 14px;
  color: #292929;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  position: relative; }
  .c-link-more::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    width: 8px;
    height: 7px;
    background: url("../img/link-more-icon.png") 0 0 no-repeat; }

.header {
  border-bottom: 4px solid #E1A4A4;
  position: relative; }
  .header::after {
    content: '';
    display: block;
    clear: both; }
  .header_top {
    padding: 10px 0;
    float: left; }
  .header_logo {
    width: 160px;
    height: 150px;
    float: left;
    background-image: url("../img/logo.svg");
    background-size: 160px auto;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-right: 20px; }
  .header-title {
    float: left; }
    .header-title_name {
      font-family: "Minion Pro"; }
      .header-title_name-medium {
        font-size: 30px; }
      .header-title_name-big {
        font-size: 40px;
        font-weight: 700; }
      .header-title_name-small {
        font-size: 20px;
        font-weight: 400; }
    .header-title_season-number {
      color: #b42b25;
      font-family: "Minion Pro";
      font-size: 45px;
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 5px; }
    .header-title_season-text {
      vertical-align: super;
      font-size: 18px;
      line-height: 1.3;
      font-weight: 700;
      text-transform: uppercase;
      padding: 3px 10px;
      color: #fff;
      background-color: #b42b25; }
  .header_body {
    width: 415px;
    float: right;
    padding-top: 20px; }
    .header_body::after {
      content: '';
      display: block;
      clear: both; }
  .header-version {
    margin-bottom: 18px; }
  .header .c-search {
    margin-bottom: 25px; }
  .header-menu {
    float: right; }
    .header-menu_list {
      margin-bottom: 20px; }
    .header-menu_item {
      display: inline-block;
      margin: 0 17px; }
      .header-menu_item:last-child {
        margin-right: 0; }
    .header-menu_link {
      font-family: "Minion Pro";
      font-size: 17px;
      font-weight: 500;
      text-transform: uppercase;
      color: #292929; }
      .header-menu_link:hover {
        color: #b42b25; }

.submenu {
  width: 100%;
  background-color: #b42b25;
  position: absolute;
  left: 0;
  bottom: -30px;
  font-size: 0;
  text-align: center; }
  .submenu_item {
    margin: 0 13px;
    display: inline-block; }
  .submenu_link {
    display: block;
    padding: 11px 0;
    font-size: 14px;
    font-weight: 400;
    color: #F0C2C0; }
    .submenu_link:hover {
      color: #fff; }

.l-grid {
  font-size: 0; }
  .l-grid_item {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 40px; }

.l-main {
  padding: 55px 40px; }
  .l-main::after {
    content: '';
    display: block;
    clear: both; }

.main {
  background: #fff url("../img/bg.jpg") 0 0 repeat; }
  .main_left-column {
    float: left; }
  .main_right-column {
    float: right; }

.news {
  width: 288px;
  padding: 35px 25px;
  border: 1px solid #000; }
  .news_title {
    color: #292929;
    font-family: "Minion Pro";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px; }
  .news_post {
    padding: 20px 0;
    border-bottom: 1px dotted #000; }
    .news_post-date {
      color: #292929;
      font-family: "Minion Pro";
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 10px; }
    .news_post-title {
      color: #000;
      font-size: 14px;
      font-weight: 300;
      text-decoration: underline; }
