.header-cecutiont {
    padding-top: 65px;
    border-bottom: 4px solid #000;

  .c-search_autocomplete {
    top: 44px;
    width: 74%;
  }

  .header_logo {
    fill: #000;
  }

  .header_logo {
    width: 226px;
    height: 193px;
    margin-right: 24px;
  }

  .header-title_name {
    margin-top: 18px;
    margin-bottom: 6px;
  }

  .header-title_name-medium {
    font-size: 38px;
    margin-bottom: 10px;
  }

  .header-title_name-big {
    font-size: 50px;
  }

  .header-title_name-small {
    font-size: 25px;
  }

  .header-title_season-number {
    font-size: 58px;
    margin-right: 12px;
    color: #000;
  }

  .header-title_season-text {
    font-size: 22px;
    background-color: #000;
  }

  .header_body {
    padding-top: 60px;
    width: 526px;
  }


  .c-social a {
    width: 40px;
    height: 40px;
    background-color: #000;
    margin: 0 2px;
  }

  .c-social svg {
    position: absolute;
    top: 0;
    left: 0;
    stroke: #fff;
  }

  .fb svg{
    width: 24px;
    top: 9px;
    left: 10px;
  }
  .inst svg {
    width: 19px;
    top: 11px;
    left: 11px;
  }
  .vk svg {
    width: 22px;
    top: 9px;
    left: 10px;
  }


  .header-version {
    font-size: 0;
    margin-bottom: 52px;
  }

  .header-search {
    margin: 0;
  }

  .c-search {

    input {
      height: 40px;
    }

    &_button {
      background-color: #000;
      border: 1px solid #000;
      color: #fff;
      height: 40px;


      &::after {
        content: '';
        width: 9px;
        height: 18px;
        margin-top: -9px;
        background-image: url($img-dir + 'arrows-big-white.png');
      }
    }
  }

  &--white {
    color: #000;

    .header-title_season-text {
      background-color: #000;
      color: #fff;
    }
  }


  &--black {
    color: #fff;

    .header-title_season-number {
      color: #fff;
    }

    .c-search_button {
      background-color: #fff;
      color: #000;

      &::after {
        content: '';
        width: 9px;
        height: 18px;
        margin-top: -9px;
        background-image: url($img-dir + 'arrows-big-black.png');
      }
    }

    .c-search input {
      border: none;
    }

    .header-title_season-text {
      background-color: #fff;
      color: #000;
    }

    .header_logo {
      fill: #fff;
    }
    .header_logo-letter {
      fill: #000;
    }

    .c-social a {
      background-color: #fff;
    }

    .c-social svg {
      stroke: #000;
    }
  }


  &--blue {
    color: #03295e;

    .header-title_season-number {
      color: #03295e;
    }

    .c-search_button {
      background-color: #03295e;
      color: #fff;
    }

    .c-search input {
      border-color: #03295e;
    }

    .header-title_season-text {
      background-color: #03295e;
      color: #fff;
    }

    .c-social a {
      width: 40px;
      height: 40px;
      background-color: #03295e;
      margin: 0 2px;
    }


    .header_logo {
      fill: #03295e;
    }
    .header_logo-letter {
      fill: #fff;
    }
  }
}//header-cecutiont




.menu-cecutiont {
  width: 100%;
  //padding-top: 10px;
  border-top: 2px solid #000;
  margin-top: 22px;

  .header-menu_list {
    margin: 0;
  }

  .header-menu_item {
    margin: 0 21px;
  }

  .header-menu_link {
    font-weight: 600;
    font-size: 27px;
    padding: 18px 0;
    display: block;
  }

  .submenu {
    background-color: #000;
    bottom: -46px;
  }

  .submenu_link {
    font-size: 18px;
    color: #fff;
    padding: 14px 0;

    &:hover {
      text-decoration: underline;
    }
  }

  .has-children::after {
    border-top: 14px solid transparent;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #000;
  }

  &--white {
    .submenu {
      background-color: #000;
    }

    .submenu_link {
      color: #fff;
    }

    a {
      color: #000;
      background-color: transparent;
    }

    .has-children::after {
      content: '';
      border-bottom-color: #000;
    }
  }

  &--black {
    .submenu {
      background-color: #fff;
    }

    .submenu_link {
      color: #000;
    }

    a {
      color: #fff;
      background-color: transparent;
    }

    .has-children::after {
      content: '';
      border-bottom-color: #fff;
    }
  }

  &--blue {
    .submenu {
      background-color: #03295e;
    }

    .submenu_link {
      color: #fff;
    }

    a{
      color: #03295e;
      background-color: transparent;
    }

    .has-children::after {
      content: '';
      border-bottom-color: #03295e;
    }
  }
}//menu-cecutiont

//footer
.footer-cecutiont {
  background: #000;
  margin:0;
  width: auto;

  .footer-menu {

  }

  .footer_body {
    width: 1250px;
    margin: 0 auto;
    box-shadow: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
  }

  .footer_right-col {
    position: static;
    @include clear;
  }

  .footer_search {
    float: left;
    width: 535px;
  }

  .footer-menu_item {


    &::before {
      content: '';
      width: 0;
    }

    &:hover {
      background-color: #fff;
      color: #000;
    }

    &:hover::after {
      content: '';
      clip: rect(0,0,0,0);
      clip-path: inset(100%);
    }
  }

  .footer-menu_link {
    font-size: 19px;

    &:hover {
      background-color: #fff;
      color: #000;
      @extend %transition;
    }
  }

  .c-social {
    float: right;
  }

  .c-social a {
    background-color: #fff;
  }

  .c-social svg {
    stroke: #000;
  }

  .footer_copiright {
    //background-color: transparent;
    width: 1250px;
    margin: 0 auto;
  }

  &--white {
    background: #000;
  }

  &--black {
    background: #272727;
  }

  &--blue {
    background: #03295e;

    .c-search_button {
      color: #03295e;
    }

    .c-social svg {
      stroke: #03295e;
    }
  }
}

//c-card
.c-card-cecutiont {

  .c-age-restrictions {
    background-color: #fff;
    color: #000;
  }

  &--white {
    .c-card_title a,
    .c-card_text {
      color: #000;
    }
  }

  &--black {
    .c-card_title a,
    .c-card_text {
      color: #fff;
    }
  }

  &--blue {
    .c-card_title a,
    .c-card_text {
      color: #03295e;
    }
  }
}


//c-button
.c-button {

  &--white {
    color: #000;
    border-color:#000;
  }

  &--black {
    color: #fff;
    border-color:#fff;
  }

  &--blue {
    color: #03295e;
    border-color:#03295e;
  }
}


//c-button--bg
.c-button--bg-cecutiont {
    width: 100%;
    text-align: center;

  &--white {
    color: #fff;
    background-color: #000;
  }

  &--black {
    color: #000;
    background-color: #fff;
  }

  &--blue {
    color: #fff;
    background-color: #03295e;
  }
}

//c-link-more
.c-link-more {

  &--white {
    color: #000;
  }

  &--black {
    color: #fff;
  }

  &--blue {
    color: #03295e;
  }
}

//collective_nav
.collective_nav-cecutiont {
  color: #fff;
  background-color: #000;

    &--white {
      background-color: #000;

      .collective_link {
        color: #fff;
      }
    }

    &--black {
      background-color: #fff;

      .collective_link {
        color: #000;
      }
    }

    &--blue {
      background-color: #03295e;

      .collective_link {
        color: #fff;
      }
    }
}

//c-card-actor
.c-card-actor {

  &--white {
    .c-card-actor_title a,
    .c-card-actor_text {
      color: #000;
    }
  }

  &--black {
    .c-card-actor_title a,
    .c-card-actor_text {
      color: #fff;
    }
  }

  &--blue {
    .c-card-actor_title a,
    .c-card-actor_text {
      color: #03295e;
    }
  }
}

//about_description
.about_description {

  &--white {
    border-color: #000;
    .about_title a,
    .about_text {
      color: #000;
    }
  }

  &--black {
    border-color: #fff;
    .about_title a,
    .about_text {
      color: #fff;
    }
  }

  &--blue {
    border-color: #03295e;
    .about_title a,
    .about_text {
      color: #03295e;
    }
  }
}

//news
.news {

  &--white {
    border-color: #000;
    .news_post {
      border-bottom-color: #000;
    }
    .news_title,
    .news_post-date,
    .news_post-title,
    .news_post-ava-description {
      color: #000;
    }
  }

  &--black {
    border-color: #fff;
    .news_post {
      border-bottom-color: #fff;
    }
    .news_title,
    .news_post-date,
    .news_post-title,
    .news_post-ava-description {
      color: #fff;
    }
  }

  &--blue {
    border-color: #03295e;
    .news_post {
      border-bottom-color: #03295e;
    }
    .news_title,
    .news_post-date,
    .news_post-title,
    .news_post-ava-description {
      color: #03295e;
    }
  }
}

//subscription
.subscription {
  &--white {
    border-color: #000;
    .subscription_title {
      border-bottom-color: #000;
    }
    .subscription_title,
    .subscription_text {
      color: #000;
    }
  }

  &--black {
    border-color: #fff;
    .subscription_title {
      border-bottom-color: #fff;
    }
    .subscription_title,
    .subscription_text {
      color: #fff;
    }
    .subscription_email input {
      border: none;
    }
  }

  &--blue {
    border-color: #03295e;
    .subscription_title {
      border-bottom-color: #03295e;
    }
    .subscription_title,
    .subscription_text {
      color: #03295e;
    }
    .subscription_email input {
      border-color: #03295e;
    }
  }
}

//subscription_email
.subscription_email input {

}



//c-page-title
.c-page-title-cecutiont {
  background-color: #000;
  color: #fff;

  &--white {
    background-color: #000;
    color: #fff;
  }

  &--black {
    background-color: #fff;
    color: #000;

    span::before,
    span::after {
      content: '';
      height: 9px;
      background-image: url($img-dir + 'title-point-black.svg');
    }
  }

  &--blue {
    background-color: #03295e;
    color: #fff;
  }
}

//c-post-list_item
.c-post-list_item {


  &--white {
    border-bottom-color: #000;

    .c-post-list_title a,
    .c-post-list_date,
    .c-post-list_text {
      color: #000;
    }

    .c-post-list_top {
      border-bottom-color: #000;
      height: 80px;
      margin-bottom: 10px;

    }
  }

  &--black {
    border-bottom-color: #fff;

    .c-post-list_title a,
    .c-post-list_date,
    .c-post-list_text {
      color: #fff;
    }

    .c-post-list_top {
      border-bottom-color: #fff;
      height: 80px;
      margin-bottom: 10px;
    }
  }

  &--blue {
    border-bottom-color: #03295e;

    .c-post-list_title a,
    .c-post-list_date,
    .c-post-list_text {
      color: #03295e;
    }

    .c-post-list_top {
      border-bottom-color: #03295e;
      height: 80px;
      margin-bottom: 10px;
    }
  }
}

//c-pagination_link
.c-pagination_link {

  &--white {
    color: #000;
    border-color: #000;

    .c-pagination_link--active {
      background-color: #000;
    }
  }

  &--black {
    color: #fff;
    border-color: #fff;


    .c-pagination_link--active {
      background-color: #fff;
      color: #000;
    }
  }

  &--blue {
    color: #03295e;
    background-color: transparent;
    border-color: #03295e;

    .c-pagination_link--active {
      background-color: #03295e;
      color: #fff;
    }
  }
}

//text-page--cecutiont.
//
.text-page-cecutiont,
.news-post-cecutiont {

  &--white {
    h1, h2, h3, p, ul, li, a, figcaption {
      color: #000;
    }
  }

  &--black {
    h1, h2, h3, p, ul, li, a, figcaption {
      color: #fff;
    }
  }

  &--blue {
    h1, h2, h3, p, ul, li, a, figcaption {
      color: #03295e;
    }
  }
}


//text-page-qoute
.text-page-qoute {

  &--white {
    border-color: #000;
    border-color: #000;

    .text-page-qoute_title,
    .text-page-qoute_text {
      color: #000;
    }
  }

  &--black {
    border-color: #fff;
    border-color: #fff;

    .text-page-qoute_title,
    .text-page-qoute_text {
      color: #fff;
    }
  }

  &--blue {
    border-color: #03295e;
    border-color: #03295e;

    .text-page-qoute_title,
    .text-page-qoute_text {
      color: #03295e;
    }
  }
}

//c-pages_title-h2
.c-pages_title-h2-cecutiont {
  color: #000;

  &--white {
    color: #000;
  }

  &--black {
    color: #fff;
  }

  &--blue {
    color: #03295e;
  }
}

//c-card-postnews
.c-card-postnews {

}


//is-visible
.is-visible {
  display: block;
}

.little_text {
  font-size: 14px;
}


.little_title {
  font-size: 23px;
}

.small_text {
  font-size: 16px;
}

.medium_text {
  font-size: 19px;
}

.big_text {
  font-size: 21px;
}

//title

.little_title {
  font-size: 23px;
}

.small_title {
  font-size: 25px;
}

.medium_title {
  font-size: 27px;
}

.big_title {
  font-size: 30px;
}

.big_title-2x {
  font-size: 33px;
}

.big_title-3x {
  font-size: 35px;
}
