@import 'font';
@import 'mixins';




$default-font-size: 12px;
$default-font-family: "Open Sans", sans-serif;
$expresion-font-family: "MinionPro", serif;
$img-dir: '../img/';
$expresion-color: #b42b25;
$dark-color: #2a2531;

body {
  font-size: $default-font-size;
  font-family: $default-font-family;
  background-color: #fff;
  color: #000;
  background: #fff url($img-dir + 'bg.jpg') 0 0 repeat;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

li {
  font-size: 14px;
  font-weight: 400;
  color: #292929;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: $expresion-color;
}

p {
  font-family: $default-font-family;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: left;
  line-height: 1.4;
  color: #292929;
  font-size: 14px;
  font-weight: 400;

  &:last-of-type {
    margin-bottom: 32px;
  }
}

figure {
  margin: 0;
  padding-right: 20px;
  margin-bottom: 20px;
}

figcaption {
  color: #292929;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  color: #6C8795;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.c-pages_title-h1 {
  text-align: center;
  color: #292929;
  font-family: "Minion Pro";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 14px;
  border-bottom: 2px solid #000;
  margin-bottom: 32px;
}

.c-pages_title-h2 {
  text-align: center;
  color: #292929;
  font-family: "Minion Pro";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 32px;
  position: relative;

  .c-link-more {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.6;
    position: absolute;
    top: 2px;
    right: 0;
    text-transform: none;
  }
}

h3 {
  color: #292929;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  border-bottom: 1px dotted #000;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

img, video {
  //max-width: 100%;
  height: auto;
}

%transition {
  transition: all .2s ease-out;
}

%outline {
  outline: 1px solid #ccc;
}

.l-layout {
  // @extend %outline;
  @include clear;
  max-width: 1250px;
  padding-bottom: 1px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 1px;
  // position: relative;
}


input {
  bottom: 0;
  outline: 0;
  border: 2px solid #5C5C5C;
  padding: 5px 15px;
  height: 30px;
  width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
  bottom: 0;
  outline: 0;
  border: 1px solid #CCC;
  padding: 10px 15px;
  width: auto;
}
//input[type="search"],


.vk svg:hover #vk {
  fill: #4d76a1;
}

.fb svg:hover #fb {
  fill: #3b5998;
}

.ok svg:hover #ok {
  fill: #f58220;
}


.vk, .fb, .inst  {
  display: inline-block;
  width: 30px;
  height: 28px;
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: $expresion-color;
}

.fb {
  background-image: url($img-dir + '/social/fb.svg');
}
.inst {
  background-image: url($img-dir + '/social/inst.svg');
}
.vk {
  background-image: url($img-dir + '/social/vk.svg');
}
//**************************//
//components
//**************************//

//l-grid

.l-grid {
  font-size: 0;

  &_item {
    vertical-align: top;
    display: inline-block;
  }
}

.l-main {
  position: relative;
  padding: 0 56px;
  @include clear;

  &--top {
    padding-top: 48px;
  }
  &--bottom {
    padding-bottom: 48px;
  }
}

//l-full-width

.l-full-width {
  text-align: justify;
  @include full-width;

  &_item {
    vertical-align: top;
    display: inline-block;
  }
}

.c-line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000;

  &::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 0;
    top: 3px;
  }
}

.c-search {
  font-size: 13px;
  position: relative;

  &_field {
    display: block;
    vertical-align: top;
    margin-right: 36px;

    input [type="search"]{
      width: 100%;
      float: left;
    }

    &--big {
      margin-right: 135px;
      font-size: 19px;
    }
  }

  &_button {
    float: right;
    display: block;
    padding: 0;
    height: 30px;
    width: 33px;
    background-color: #fff;
    border: 2px solid #5C5C5C;
    font-size: 0;
    cursor: pointer;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 12px;
      top: 50%;
      left: 50%;
      margin-left: -3px;
      margin-top: -6px;
      background: url($img-dir + 'search-icon.png') 0 0 no-repeat;
      background-color: #000;
    }

    &--big {
      font-size: 19px;
      font-weight: 600;
      width: 125px;
      padding-right: 20px;

      &::after {
        left: auto;
        right: 14%;
      }
    }
  }
}

.c-button {
  display: inline-block;
  border: 2px solid #5C5C5C;
  color: #292929;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 33px;

  &:hover {
    color: $expresion-color;
    border-color: $expresion-color;
    @extend %transition;
  }

  &--bg {
    position: relative;
    z-index: 2;
    background-color: $expresion-color;
    border: none;
    color: #fff;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: -100%;
      width: 100%;
      height: 40px;
      background-color: lighten($expresion-color, 10%);
      transition: all .1s ease-out;
    }

    &:hover {
      &::after {
        left: 0;
        transition: all .1s ease-out;
      }
      color: #fff;
      transition: all .1s ease-out;
    }
  }

  &--hover-bg {
    @extend %transition;
    &:hover {
      color: #fff;
      background-color: $expresion-color;
      @extend %transition;
    }
  }
}

.c-version {
  vertical-align: top;
  display: inline-block;
  color: #595959;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px 10px;
  padding-left: 45px;
  border: 1px dotted #000;
  position: relative;
  letter-spacing: .5px;

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 10px;
    width: 26px;
    height: 15px;
    background: url($img-dir + 'version-icon.png') 0 0 no-repeat;
  }
}

.c-social {
  vertical-align: top;
  display: inline-block;
}

//c-card
.c-card {
  width: 385px;
  height: 440px;
  display: inline-block;
  // @extend %outline;
  position: relative;
  margin-right: 40px;
  margin-bottom: 40px;

  &--col-3 {
    width: 370px;
    margin-right: 0;
  }

  &_img  {
    //width: 385px;
    height: 258px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &_title {
    text-align: left;
    color: #292929;
    font-family: "Minion Pro";
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 8px;
    a {
      color: #292929;
    }
  }

  &_text {
    text-align: left;
    height: 3em;
    overflow: hidden;
    color: #000;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 300;
  }

  .c-button {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .c-age-restrictions {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
  }
}

//c-link-more

.c-link-more {
  padding-right: 14px;
  color: #292929;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  position: relative;

  &:hover {
    color: $expresion-color;
    border-color: $expresion-color;
    @extend %transition;
  }

  &::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    width: 8px;
    height: 7px;
    background: url($img-dir + 'link-more-icon.png') 0 0 no-repeat;
  }
}

//c-link-back
.c-link-back {
  padding-left: 14px;
  color: #292929;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  position: relative;

  &:hover {
    color: $expresion-color;
    border-color: $expresion-color;
    @extend %transition;
  }

  &::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 7px;
    background: url($img-dir + 'link-more-icon.png') -8px 0 no-repeat;
  }
}

//c-age-restrictions
.c-age-restrictions {
  border: 1px solid #000;
  text-align: center;
  width: 46px;
  height: 46px;
  line-height: 48px;
  border-radius: 50px;
  color: #fff;

  span {
    font-family: "Minion Pro";
    font-size: 18px;
    font-weight: 600;
  }

  &--bg {
    background-color: $expresion-color;
    border: none;
    color: #fff;
  }
}

//c-card-actor

.c-card-actor {
  width: 174px;
  margin: 0 5px;
  margin-bottom: 15px;
  margin-top: 10px;


  &:hover .c-card-actor_img {
    transform: scale(1.08);
    @extend %transition;
  }

  &_img {
    overflow: hidden;
    height: 184px;
    margin-bottom: 15px;
    position: relative;
    transform: scale(1);
    @extend %transition;

    img  {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left:-87px;
      margin-top: -94px;
      max-width: 100%;
      height: auto;

    }
  }

  &_title {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  &_title a{
    color: #292929;
    font-family: "Minion Pro";

    &:hover {
      text-decoration: underline;
    }
  }

  &_text {
    text-align: left;
    color: #797979;
    font-size: 13px;
    line-height: 1.1;
    font-weight: 300;
  }
}

//c-card-fotogallery

.c-card-fotogallery {
  width: 366px;
  height: 366px;
  border: 2px solid #292929;
  @extend %transition;
  margin-bottom: 20px;

  &_img {
    cursor: pointer;
    height: 283px;
    overflow: hidden;
    border-bottom: 2px solid #292929;
    position: relative;
    @extend %transition;

    a {
      display: block;
      height: 100%;
    }

    &::after {
      opacity: 0;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 3px solid $expresion-color;
      background-color: rgba(0, 0, 0, 0.5);
      background-image: url($img-dir + 'version-icon-white.png');
      background-position: 50% 50%;
      background-size: 26px auto;
      background-repeat: no-repeat;
      @extend %transition;
    }

    img {
      //max-width: 100%;
      min-height: 100%;
      //position: absolute;
      //top: 0;
      //left: 0;
      @extend %transition;
    }
  }

  &_title a{
    display: block;
    padding: 16px 22px;
    text-align: left;
    color: #292929;
    font-family: "Minion Pro";
    font-size: 20px;
    font-weight: 500;

  }

  &:hover .c-card-fotogallery_img::after{
    opacity: 1;
    @extend %transition;
  }

  &:hover img{
    transform: scale(1.08);
    @extend %transition;
  }

}

//c-pagination

.c-pagination {

  &_link {
    vertical-align: top;
    display: inline-block;
    border: 2px solid #292929;
    padding: 12px 16px;
    color: #292929;
    font-size: 13px;
    font-weight: 600;
    margin-right: 2px;
    @extend %transition;

    &:hover {
      border: 2px solid $expresion-color;
      color: $expresion-color;
      @extend %transition;
    }

    &--active {
      color: #fff;
      background-color: $expresion-color;
      border: 2px solid $expresion-color;

      &:hover {
        color: #fff;
      }
    }
  }
}

//c-post-list

.c-post-list {
  margin-bottom: 72px;
  border-top: 2px solid #000;


  &_item {
    @include clear;
    padding: 24px 0;
    border-bottom: 2px solid #000;

    &:nth-last-child(2) {
      margin-bottom: 40px;
    }
  }

  &_img {
    text-align: center;
    width: 179px;
    height: 179px;
    background-color: #E8E8E8;
    overflow: hidden;
    float: left;

    a {
      display: block;
      height: 100%;
    }
  }

  &_body {
    margin-left: 207px;
    position: relative;
    height: 100%;

    .c-button {
      position: absolute;
      bottom: 0px;
    }
  }

  &_top {
    height: 65px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #000;
  }

  &_title a{
    display: block;
    text-align: left;
    color: #292929;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &_date {
    text-align: left;
    color: #292929;
    font-family: "Minion Pro";
    font-size: 15px;
    font-weight: 700;
  }

  &_text {
    overflow: hidden;
    height: 42px;
    text-align: left;
    color: #292929;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 51px;
  }

  &_video {
    position: relative;
    @extend %transition;

    &::after {
      content: '';
      position: absolute;
      width: 62px;
      height: 62px;
      top: 50%;
      left: 50%;
      margin-top: -31px;
      margin-left: -31px;
      @extend %transition;
      background: url($img-dir + 'video-icon.png') 0 0 no-repeat;
    }

    &:hover::after {
      transform: scale(1.08);
      @extend %transition;
    }
  }
}

//c-card-postnews

.l-news-other {
  margin-bottom: 48px;
}

.c-card-postnews {
  padding: 24px;
  @include clear;
  width: 368px;
  background-color: #FFF;
  border: 2px solid #292929;

  &_img {
    width: 179px;
    height: 179px;
    overflow: hidden;
    float: left;

    a {
      display: block;
      height: 100%;
    }
  }

  &_body {
    margin-left: 194px;
  }

  &_date {
    text-align: left;
    margin-bottom: 10px;
    color: #292929;
    font-family: "Minion Pro";
    font-size: 15px;
    font-weight: 700;
  }

  &_title {
    text-align: left;
    overflow: hidden;
    height: 152px;

    a {
     color: #000;
     font-size: 14px;
     line-height: 1.4;
     font-weight: 400;

     &:hover {
       text-decoration: underline;
     }
   }
  }
}

//c-card-ticket

.c-card-ticket {
  position: relative;
  @include clear;
  padding-top: 14px;
  padding-bottom: 20px;
  border-bottom: 1px solid #292929;

  &:last-child {
    margin-bottom: 38px;
  }

  &_date {
    float: left;
  }

  &_month {
    text-align: left;
    color: #292929;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2px;
  }

  &_time {
    text-align: left;
    margin-bottom: 8px;
    color: #292929;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .c-age-restrictions {
    color: #292929;
    width: 39px;
    height: 39px;
    line-height: 39px;

    span {
      font-size: 15px;
    }
  }

  &_content {
    margin-left: 236px;
  }

  &_title {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px dotted #292929;
    margin-bottom: 10px;

    a {
      color: #292929;
      font-family: "Minion Pro";
      font-size: 25px;
      font-weight: 500;
      @extend %transition;

      &:hover {
        color: $expresion-color;
        @extend %transition;
        text-decoration: underline;
      }
    }
  }

  &_text {
    width: 640px;
    text-align: left;
    color: #292929;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
  }

  .c-button--bg {
    position: absolute;
    bottom: 20px;
    right: 0;
  }
}

//c-ordinary-btn

.c-ordinary-btn {
  text-align: left;
  color: #292929;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 8px;
  padding-left: 44px;
  border: 2px solid #000;
  position: relative;
  @extend %transition;

  &:hover {
    @extend %transition;
    border: 2px solid $expresion-color;
    color: $expresion-color;
  }
  &:hover::after {
    @extend %transition;
    content: '';
    background: url($img-dir + 'version-icon-red.png') 0 0 no-repeat;

  }

  &::after {
    @extend %transition;
    content: '';
    position: absolute;
    width: 26px;
    height: 15px;
    top: 8px;
    left: 8px;
    background: url($img-dir + 'version-icon.png') 0 0 no-repeat;
  }
}


//**************************//
//header
//**************************//
.header {
  @include clear;
  border-bottom: 4px solid #E1A4A4;
  position: relative;
  background-color: #fff;

  &_top {
    padding-top: 10px;
    float: left;

  }

  &_logo {
    width: 160px;
    height: 133px;
    float: left;
    background-image: url($img-dir + 'logo.svg');
    background-size: 151px auto;
    background-repeat:no-repeat;
    background-position: 0 0;
    margin-right: 10px;
  }

  &-title {
    float: left;

    &_name {
      font-family: "Minion Pro";

      &-medium {
        font-size: 30px;
      }

      &-big {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 39px;
      }

      &-small {
        font-size: 20px;
        font-weight: 400;
      }
    }

    &_season {
      &-number {
        color: $expresion-color;
        font-family: "Minion Pro";
        font-size: 45px;
        line-height: 45px;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 5px;
      }

      &-text {
        vertical-align: super;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 700;
        text-transform: uppercase;
        padding: 3px 10px;
        color: #fff;
        background-color: $expresion-color;
      }
    }
  }

  &_body {
    width: 415px;
    @include clear;
    float: right;
    padding-top: 20px;
  }

  &-version {

    text-align: justify;
    @include full-width;
    // margin-bottom: 14px;

  }

  &-search {
    margin-bottom: 25px;
  }

  &-menu {
    float: right;

    &_list {
      margin-bottom: 16px;
    }

    &_item {
      display: inline-block;
      margin: 0 14px;

      &:last-child {
        margin-right: 0;
      }

      &:hover .submenu{
        clip: auto;
        clip-path: none;
        @extend %transition;
      }

      &:hover .has-children::after{
        clip: auto;
        clip-path: none;
        @extend %transition;
      }
    }

    &_link {
      font-family: "Minion Pro";
      font-size: 17px;
      font-weight: 500;
      text-transform: uppercase;
      color: #292929;
      @extend %transition;
      position: relative;
      padding-bottom: 20px;

      &:hover {
        color: $expresion-color;
        @extend %transition;
      }

    }
  }
}


.has-children::after {
  clip: rect(0,0,0,0);
  clip-path: inset(100%);
  content: '';
  position: absolute;
  z-index: 999;
  left: 50%;
  margin-left: -3px;
  bottom: -1px;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid $expresion-color;
}

.submenu {
  clip: rect(0,0,0,0);
  clip-path: inset(100%);
  width: 100%;
  background-color: $expresion-color;
  position: absolute;
  z-index: 999;
  left: 0;
  bottom: -38px;
  margin: 0;
  font-size: 0;
  text-align: center;

  &_item {
    margin: 0 13px;
    display: inline-block;
  }

  &_link {
    display: block;
    padding: 11px 0;
    font-size: 14px;
    font-weight: 400;
    color: #F0C2C0;
    @extend %transition;

    &:hover {
      color: #fff;
      @extend %transition;
    }
  }
}


//c-page-title

.c-page-title {
  background-color: $expresion-color;
  margin-top: 36px;
  margin-bottom: 52px;
  color: #FFF;
  font-family: "Minion Pro";
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 40px;
  text-align: center;
  position: relative;

  .c-link-back {
    color: #fff;
    text-transform: none;
    position: absolute;
    left: 56px;
    top: 25%;

    &:hover {
      text-decoration: none;
    }

    &::after {
      content: '';
      top: 10px;
      background: url($img-dir + 'link-more-icon-white.png') -8px 0 no-repeat;
    }
  }

  span {
    padding: 0 20px;
    position: relative;

    &::before {
      content: '';
      width: 8px;
      height: 10px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -8px;
      background-image: url($img-dir + 'title-point.svg');
    }
    &::after {
      content: '';
      width: 8px;
      height: 10px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -8px;
      background-image: url($img-dir + 'title-point.svg');
    }
  }
}


//**************************//
//top-slider
//**************************//
.l-top-slider {
  @include clear;
  max-width: 1250px;
  margin: 0 auto;
}
.top-slider {

  .l-layout {
    padding-bottom: 0;
  }

  &_item {
    height: 626px;
    cursor: pointer;
  }

  &_title {
    position: absolute;
    top: 48px;
    left: 0;
  }

  &_date {
    color: #FFF;
    font-weight: 400;
    text-shadow: 1px 1.7px 5px rgba(0, 0, 0, 0.4);
    font-size: 25px;
    margin-bottom: 8px;

    span {
      font-size: 35px;
    }
  }

  &_h1 {
    color: #FFF;
    font-family: "Minion Pro";
    font-size: 45px;
    font-weight: 700;
    text-shadow: 1px 1.7px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 8px;
  }

  &_autor {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    text-shadow: 1px 1.7px 5px rgba(0, 0, 0, 0.4);
  }
}
//slike custome
.slick-dotted.slick-slider {
  margin: 0;
}

.slick-dots {
  position: absolute;
  bottom: 10px;

  li {
    button {
      border: 2px solid #fff;
      display: block;
      height: 15px;
      width: 15px;
      padding: 5px;
      cursor: pointer;
      border-radius: 20px;
      background: transparent;
      opacity: 1;

      &:hover, &:focus {
        outline: none;
        &:before {
          opacity: .2;
        }
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 15px;
        height: 15px;
        opacity: 0;
        border-radius: 20px;
        background-color: #fff;
        line-height: 20px;
      }
    }
    &.slick-active button:before {
      opacity: 1;
    }
  }
}


//**************************//
//main
//**************************//
.main {

  &_left-column {
    width: 75%;
    float: left;
  }
  &_right-column {
    width: 25%;
    float: right;
  }
}

//**************************//
//news
//**************************//
.news {
  //width: 288px;
  padding: 35px 25px;
  border: 1px solid #000;
  position: relative;
  margin-bottom: 25px;

  &_all-link {
    position: absolute;
    top: 35px;
    right: 25px;
  }

  &_title {
    color: #292929;
    font-family: "Minion Pro";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding-right: 50px;
    margin-bottom: 15px;
  }

  &_post {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px dotted #000;

    &-date {
      text-align: left;
      color: #292929;
      font-family: "Minion Pro";
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    &-title {
      text-align: left;
      display: inline-block;
      color: #000;
      font-size: 14px;
      font-weight: 300;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        @extend %transition;
      }
    }

    &-ava {
      display: inline-block;
      border-radius: 50px;
      overflow: hidden;
      width: 85px;
      height: 85px;
      position: relative;
      z-index: 10;
      margin-bottom: 20px;

      img  {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left:-42px;
        margin-top: -43px;
        max-width: 100%;
        height: auto;
      }
    }

    &-ava-description {
      text-align: left;
      color: #000;
      font-family: "Minion Pro";
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}

//**************************//
//subscription
//**************************//

.subscription {
  //width: 288px;
  padding: 25px;
  border: 1px solid #000;
  position: relative;
  margin-bottom: 25px;

  &_title {
    color: #292929;
    font-family: "Minion Pro";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
  }

  &_text {
    color: #000;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  &_email {
    margin-bottom: 15px;
  }
}

//**************************//
//about
//**************************//
.about {

  @include clear;

  &_left-column {
    float: left;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  &_right-column {
    float: right;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  &_description {
    height: 303px;
    text-align: center;
    padding: 30px 20px;
    border: 1px solid #000;
  }

  &_video {
    height: 303px;
  }

  &_ava {
    display: inline-block;
    border-radius: 50px;
    overflow: hidden;
    width: 85px;
    height: 85px;
    position: relative;
    z-index: 10;
    margin-bottom: 20px;

    img  {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left:-42px;
      margin-top: -43px;
      max-width: 100%;
      height: auto;
    }
  }

  &_title {
    font-family: "Minion Pro";
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;

    a {
      color: #292929;
    }
  }

  &_text {
    overflow: hidden;
    color: #000;
    height: 4.5em;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 1.1;
    font-weight: 300;
  }
}
.l-col {
  font-size: 0;

  img, video {
    max-width: 100%;
    height: auto;
  }
}
.col-1-2,
.col-1-3 {

  img, video {
    max-width: 100%;
    height: auto;
  }
}

.col-1-2 {
  vertical-align: top;
  display: inline-block;
  width: 50%;
}
.col-1-3 {
  vertical-align: top;
  display: inline-block;
  width: 33%;
}

//**************************//
//collective
//**************************//
.collective {
  padding-bottom: 60px;

  &_nav {
    background-color: $expresion-color;
    margin-bottom: 52px;
  }

  &_link {
    display: inline-block;
    margin-right: 25px;
    padding-top: 18px;
    padding-bottom: 15px;
    opacity: .5;
    color: #FFF;
    font-family: "Minion Pro";
    font-size: 23px;
    font-weight: 700;
    @extend %transition;

    &:hover {
      opacity: 1;
      @extend %transition;
    }

    &--active {
      opacity: 1;
    }
  }
}


//**************************//
//footer
//**************************//
.l-footer {
}

.footer {
  margin: 0 auto;
  width: 1250px;
  background: url($img-dir + 'footer-bg.jpg') 0 0 repeat;

  &_body {
    box-shadow: 0px 25px 50px -15px rgba(0,0,0,0.42);
    padding: 0 56px;
    @include clear;
    position: relative;
  }

  &_logo {
    float: left;
    margin-top: 35px;
    margin-bottom: 52px;
    margin-right: 25px;

    a {
      display: block;
      width: 156px;
      height: 130px;
      background-image: url($img-dir + 'logo-white.svg');
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  &_content {
    // @extend %outline;
    float: right;
    padding-top: 30px;
    width: 84%;
  }

  &_copiright {
    position: relative;
    padding: 15px 0;
    padding-top: 20px;
    text-align: center;

   &-text {
      display: inline-block;
      color: #CBCBCB;
      font-size: 12px;
      font-weight: 300;
    }

    &-site {
      color: #CBCBCB;
      position: absolute;
      top: 45%;
      right: 56px;
      @extend %transition;

      &:hover {
        color: #17ba9f;
        @extend %transition;
      }
    }
  }

  &-menu {
    font-size: 0;
    margin-bottom: 6px;
    position: relative;
    left: -14px;

    &_item {
      display: inline-block;
      position: relative;
      z-index: 2;
      @extend %transition;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 1px;
        height: 13px;
        background-color: #fff;
        top: 7px;
        right: 0;
        @extend %transition;
      }

      &::after {
        content: '';
        clip: rect(0,0,0,0);
        clip-path: inset(100%);
        position: absolute;
        z-index: -0;
        height: 100%;
        width: 102%;
        top: 0;
        left: -1px;
        background-color: $expresion-color;
        @extend %transition;
      }

      &:hover {
        background-color: $expresion-color;
        @extend %transition;
      }
      &:hover::after{
        clip: auto;
        clip-path: none;
        @extend %transition;
      }

      &:last-child::before {
        clip: rect(0,0,0,0);
        clip-path: inset(100%);
      }
    }

    &_link {
      color: #FFF;
      font-family: "Minion Pro";
      font-size: 13px;
      vertical-align: baseline;
      line-height: 16px;
      text-transform: uppercase;
      padding: 5px 15px;
      padding-top: 8px;
      position: relative;
      z-index: 2;
      display: block;
      @extend %transition;
    }
  }

  &_right-col {
    text-align: right;
    position: absolute;
    right: 56px;
    top: 30px;
  }

  &_search {
    width: 233px;
    margin-bottom: 35px;
    input, button {
      border: none;
    }
  }

  &-block-text {
    margin-bottom: 20px;
    margin-right: 24px;

  }

  &_text {
    color: #FFF;
    font-family: "Minion Pro";
    font-size: 20px;
    font-weight: 700;
  }

  &_subtext {
    color: #989293;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;

    span {
      color: #fff;
    }
  }

  .c-social {
    margin-top: 10px;
    a {
      background-color: transparent;
      @extend %transition;

      &:hover {
        background-color: $expresion-color;
        @extend %transition;
      }
    }
  }
}

//**************************//
//actor
//**************************//
.actor {

  &_top {
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }

  &_title {
    color: #292929;
    font-family: "Minion Pro";
    font-size: 35px;
    font-weight: 600;
  }

  &_post {
    color: #292929;
    font-size: 15px;
    font-weight: 300;
  }

  &_body {
    @include clear;
    margin-bottom: 40px;
  }

  &_ava {
    width: 208px;
    height: 226px;
    float: left;

    span {
      color: #292929;
      font-size: 15px;
      font-weight: 400;
    }
  }

  &_img {
    margin-bottom: 14px;
  }

  &_about {
    margin-left: 236px;
  }
}

//**************************//
//text-page
//**************************//
.text-page {

  &_top {
    padding-bottom: 18px;
    border-bottom: 1px dotted #000;
    margin-bottom: 18px;
  }

  &_title {
    color: #292929;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 600;
    text-transform: none;
  }

  &_subtitle {
    text-align: left;
    color: #292929;
    font-family: "Minion Pro";
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 14px;
    text-transform: none;
  }

  &_quote {
    padding: 14px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
    @include clear;

    &_img {
      width: 86px;
      height: 86px;
      border-radius: 86px;
      float: left;
    }
  }

  &-qoute {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 10px 0px;
    @include clear;
    margin-bottom: 16px;

    &_img {
      float: left;
      overflow: hidden;
      width: 86px;
      height: 86px;
      border-radius: 86px;
    }

    &_body {
      margin-left: 108px;
    }

    &_title {
      text-align: left;
      color: #000;
      font-family: "Minion Pro";
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    &_text {
      text-align: left;
      color: #000;
      line-height: 1.3;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

//**************************//
//fotogallery
//**************************//
.fotogallery {
  margin-bottom: 72px;

  &-play {
    margin-bottom: 60px;

    &_title {
      text-align: center;
      color: #292929;
      font-family: "Minion Pro";
      font-size: 30px;
      line-height: 30px;
      font-weight: 700;
      margin-bottom: 32px;
    }

    &_list {
      @include full-width;
      text-align: justify;
    }

    &_item {
      width: 174px;
      height: 189px;
      display: inline-block;
      margin-bottom: 20px;
      overflow: hidden;
      position: relative;
      @extend %transition;

      &::after {
        opacity: 0;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid $expresion-color;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url($img-dir + 'version-icon-white.png');
        background-position: 50% 50%;
        background-size: 26px auto;
        background-repeat: no-repeat;
        @extend %transition;
      }

      img {
        transition: transform .2s ease;
      }

      &:hover img{
        transform: scale(1.08);
        @extend %transition;
      }
      &:hover::after{
        opacity: 1;
        @extend %transition;
      }
    }

  }
}


//**************************//
//news-post
//**************************//
.news-post {
  @include clear;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  padding: 24px 0;
  margin-bottom: 52px;

  &_img {
    width: 179px;
    height: 179px;
    float: left;
  }

  &_content {
    margin-left: 207px;
  }

  iframe {
    margin-bottom: 32px;
  }
}


//**************************//
//search-result
//**************************//
.search-result {
  margin-bottom: 72px;

  &_top {
    padding-bottom: 16px;
    margin-bottom: 24px;
    border-bottom: 1px dotted #000;

    .c-search {
      width: 450px;
      margin-bottom: 14px;
    }
  }

  &_total {
    text-align: left;
    font-size: 13px;
    color: #292929;

    &-number {
      color: #000;
    }
  }

  &_list {
    padding-left: 12px;
    color: #292929;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 2px solid #000;
    margin-bottom: 42px;
  }

  &_item {
    font-weight: 600;
    padding-left: 36px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &_title {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 12px;

    a {
      color: #292929;
    }
  }

  &_text {
    overflow: hidden;
    height: 3em;
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: #292929;
  }
}

//**************************//
//ticket
//**************************//
.l-ticket-list {
  margin-bottom: 38px;
}
.l-ticket-month {
  width: 100%;
  height: 59px;
  background-color: #0F0F0F;
  position: relative;
  margin-bottom: 32px;

  &::after {
    content: '';
    position: absolute;
    z-index: 999;
    left: 50%;
    margin-left: -2px;
    top: -14px;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #0F0F0F;
  }
}

.ticket {
  margin-bottom: 72px;

  &-slider {
    font-size: 0;
    width: 653px;
    height: 59px;
    margin: 0 auto;
    background-color: #0F0F0F;
    border-right: 1px solid #585858;
    border-left: 1px solid #585858;


    &_item {
      text-align: center;
      width: 165px;
      height: 59px;
      display: inline-block;

      &:nth-child(2n) {
        border-left: 1px solid #585858;
        border-right: 1px solid #585858;
      }

      &:nth-child(32n) {
        border-right: 1px solid #585858;
      }
    }

    &_link {
      display: block;
      height: 59px;
      color: #6B6B6B;
      font-size: 14px;
      line-height: 2.2;
      font-weight: 400;
      padding: 16px 0;
      text-transform: uppercase;
      @extend %transition;

      &:hover {
        color: #fff;
        text-decoration: underline;
        @extend %transition;
      }
    }
  }
}

.slick-prev {
  left: -35px;
}
.slick-next {
  right: -35px;
}

.slick-prev:before, .slick-next:before {

}

.slick-prev,
.slick-next {
  top: 49%;
  width: 36px;
  height: 36px;
}

.slick-prev::before,
.slick-next::before {
  content: '';
}

.slick-prev {
  @extend %transition;
  left: -55px;
  background: url($img-dir + 'arrow-right.png') 0 0 no-repeat;
}

.slick-next {
  @extend %transition;
  right: -55px;
  background: url($img-dir + 'arrow-left.png') 0 0 no-repeat;
}

.slick-prev:hover {
  @extend %transition;
  opacity:.7;
  background: url($img-dir + 'arrow-right.png') 0 0 no-repeat;
}

.slick-next:hover
{
  @extend %transition;
  opacity:.7;
  background: url($img-dir + 'arrow-left.png') 0 0 no-repeat;
}

.slick-prev.slick-disabled {
  @extend %transition;
  opacity:.3;
  background: url($img-dir + 'arrow-right.png') 0 0 no-repeat;
}
.slick-next.slick-disabled {
  @extend %transition;
  opacity:.3;
  background: url($img-dir + 'arrow-left.png') 0 0 no-repeat;
}

//**************************//
//cecutient
//**************************//
.l-cecutient-panel {
  margin: 0 auto;
  width: 1250px;
  position: relative;
}

.cecutient-panel {
  position: absolute;
  width: 100%;
  height: 64px;
  background-image: linear-gradient(to top, #E5E5E5 0%, #FFF 100%);
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-radius: 0 0 3px 3px;
  display: none;
  z-index: 999;

  &_title {
    display: inline-block;
    padding-left: 16px;
    text-align: left;
    width: 208px;
    color: #292929;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 6px;
    padding-top: 10px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 2px;
      background-color: #000;
      height: 92%;
      right: 0;
      top: 5px;
    }
  }

  &_subtitle {
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    color: #292929;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;

    &::after {
      content: '';
      position: absolute;
      width: 2px;
      background-color: #000;
      height: 92%;
      right: 0;
      top: 5px;
    }
  }

  &_size {
    padding-left: 24px;
    padding-right: 22px;
    display: inline-block;
    position: relative;
    color: #292929;
    
    a {
      cursor: pointer;

      &:hover {
        opacity: .8;
      }
    }
  }

  &_small, &_medium, &_big {
    display: inline-block;
    font-weight: 700;
    color: #292929;
    margin: 0 6px;
  }


  &_small {
    font-size: 20px;
  }

  &_medium {
    font-size: 25px;
  }

  &_big {
    font-size: 30px;
  }

  &_color {
    display: inline-block;
  }

  .c-ordinary-btn {
    position: absolute;
    right: 14px;
    top: 14px;
  }
}

.cecutient-panel_color {
  padding: 0 22px;
}
///cecutient-icon
.cecutient-icon-color {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin: 0 2px;
  width: 27px;
  height: 31px;
  padding: 0 6px;
  border: 1px solid #000;
  //background: url($img-dir + 'icon-color.png') 0 0 no-repeat;
}

.cecutientcecutient-panel_white {
  color: #000;
  background-position: -54px 0;
}

.cecutient-panel_black {
  color: #fff;
  background-position: -27px 0;
  background-color: #000;
}

.cecutient-panel_blue {
  color: #195183;
  background-color: #9dd1ff;
}

.is-active {
  padding: 0 5px;
  background-color: #000;
  color: #fff;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -4px;
    border-top: 4px solid #000;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
}


//font-size

//.SmallFonts-text {font-size: 19px;}
//.SmallFonts-title {font-size: 27px;}
//
//.MediumFonts {font-size: 27px;}
//.MediumFonts-title {font-size: 27px;}
//
//.BigFonts-title2x {font-size: 30px;}
//.BigFonts-title3x {font-size: 30px;}

.bgc-black {
  background-color: #000;
}

.bgc-white {
  background-color: #fff;
}

.color-black {
  color: #000;
}

.menu-cecutiont {
  width: 100%;
  //padding-top: 10px;
  border-top: 2px solid #000;
  margin-top: 22px;

  .header {
    border-bottom: 4px solid #000;
  }

  .header-menu_list {
    margin: 0;
  }

  .header-menu_item {
    margin: 0 21px;
  }

  .header-menu_link {
    font-weight: 600;
    font-size: 27px;
    padding: 18px 0;
    display: block;
  }

  .submenu {
    background-color: #000;
    bottom: -46px;
  }

  .submenu_link {
    font-size: 18px;
    color: #fff;
    padding: 14px 0;

    &:hover {
      text-decoration: underline;
    }
  }

  .has-children::after {
    border-top: 14px solid transparent;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #000;
  }
}

//footer
.footer-cecutiont {
  background: transparent;
  background-color: #000;
  margin:0;
  width: auto;

  .footer-menu {

  }

  .footer_body {
    width: 1250px;
    margin: 0 auto;
    box-shadow: none;
    border-bottom: 2px solid #fff;
    background-color: #000;
    color: #fff;
  }

  .footer_right-col {
    position: static;
    @include clear;
  }

  .footer_search {
    float: left;
    width: 535px;
  }

  .footer-menu_item {


    &::before {
      content: '';
      width: 0;
    }

    &:hover {
      background-color: #fff;
      color: #000;
    }

    &:hover::after {
      content: '';
      clip: rect(0,0,0,0);
      clip-path: inset(100%);
    }
  }

  .footer-menu_link {
    font-size: 19px;

    &:hover {
      background-color: #fff;
      color: #000;
      @extend %transition;
    }
  }

  .c-social {
    float: right;
  }

  .footer_copiright {
    background-color: #000;
    width: 1250px;
    margin: 0 auto;
  }
}

.litle_text {
  font-size: 14px;
}


.litle_title {
  font-size: 23px;
}

.small_text {
  font-size: 16px;
}

.medium_text {
  font-size: 19px;
}

.big_text {
  font-size: 21px;
}

//title

.litle_title {
  font-size: 23px;
}

.small_title {
  font-size: 25px;
}

.medium_title {
  font-size: 27px;
}

.big_title {
  font-size: 30px;
}

.big_title-2x {
  font-size: 33px;
}

.big_title-3x {
  font-size: 35px;
}


@import "indents";
